body {
  font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  color: #818181;
  margin: 0;
  padding: 0; }

section {
  position: relative; }

p {
  font-size: 16px;
  line-height: 1.5;
  color: #818181;
  z-index: 3; }

img.sect-3 {
  width: 100%; }

.main-nav li a:link, .main-nav li a:visited, p a:link, p a:visited {
  color: #000;
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

.nav li a:hover, p a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #4bd043;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

nav.navbar {
  position: absolute;
  z-index: 2;
  width: 100%; }

.navbar-brand img {
  position: absolute;
  left: 10%;
  width: 200px; }

.navbar-header {
  height: 80px; }

span.icon-bar {
  background-color: #000000; }

header {
  position: relative;
  color: white;
  background: url("../img/header.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1; }

h1 {
  margin-top: 30%;
  text-transform: uppercase;
  font-size: 70px;
  color: #4eda47;
  font-weight: 500; }

h1 + p {
  color: #4bd043;
  font-style: italic;
  font-size: 29px; }

header .table {
  display: table;
  height: 100%; }

header .container {
  height: 700px; }

header .header-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white; }

.icon-bar {
  background: #bbb; }

.lead-cubes {
  top: -130px;
  position: relative; }

.lead-cubes .lead-table {
  position: relative;
  width: 100%;
  margin: 20px 0; }

.lead-cubes .lead-table .heading {
  margin: 0; }

.lead-table {
  background-size: cover;
  background-repeat: repeat; }

#services {
  margin: 50px 0; }

div.first {
  margin-bottom: 80px; }

.first img, .first div {
  margin: 0 auto; }

div[class*="price"] {
  margin: 15px 0 5px 0; }

.caption {
  background-color: rgba(0, 0, 0, 0.2);
  height: 40px;
  width: auto;
  position: relative;
  padding: 10px;
  margin-bottom: 25px; }

.caption a:nth-child(1), .caption a:nth-child(2) {
  color: #4bd043;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none; }

.caption span:nth-child(1) {
  float: right;
  display: block;
  margin-top: 3px; }

.fa-clone {
  text-indent: 10px; }

.modal-content {
  -webkit-border-radius: 0;
  border-radius: 0; }

.modal-footer, .modal-header {
  border: none; }

div#about {
  background-color: #F6F6F6; }

.shade {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10; }

.shade-pict {
  background-color: rgba(255, 206, 68, 0.8);
  -webkit-transition: background-color .8s linear .1s;
  transition: background-color .8s linear .1s;
  -webkit-animation-name: rising;
  animation-name: rising;
  z-index: 0; }

.shade-pict:hover {
  background-color: transparent; }

#description {
  margin: 0;
  padding: 0; }

div.about-me {
  padding: 100px 0; }

p.main-sign {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold; }

.about-us {
  margin: 0;
  padding: 0; }

div.rectangular-info {
  padding-bottom: 10px; }

.portfolio {
  margin: 50px auto; }

.allpictures div img {
  margin: 10px; }

.btn, .btn:link, .btn-primary:focus {
  padding: 5px 15px;
  border: 0 none;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #4bd043; }

.btn:hover, .btn:active {
  background-color: #41b239;
  color: #ffffff; }

.btn:visited {
  background-color: #3fafff;
  color: #ffffff; }

.sharp {
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-left: 10px; }

.responds {
  position: relative;
  margin: 180px auto; }

ol.carousel-indicators {
  position: absolute;
  top: 100px; }

.carousel-indicators li {
  width: 11px;
  height: 11px;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-color: #4bd043; }

.carousel-indicators li.active {
  background-color: #4bd043; }

.item p {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic; }

footer {
  padding: 20px 0;
  background-image: url("../img/footer.jpg");
  background-position: center 0;
  width: 100%; }

footer p {
  color: #4bd043;
  font-size: 13px; }

#web4evo {
  margin: 40px 0 0 0; }

#web4evo p {
  font-weight: 500; }

#web4evo span {
  color: #818181; }

#web4evo span span {
  color: #ff0000; }

.appearance {
  visibility: hidden; }

.slide {
  -webkit-animation-name: slide;
  animation-name: slide;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  visibility: visible; }

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
    transform: translateY(70%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
    transform: translateY(70%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

#Container {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  width: 100%;
  border: 1px solid black;
  color: #ffff4f; }

.Row {
  display: table-row;
  border: 1px solid red; }

.Video {
  width: 25%;
  display: table-cell;
  background-color: grey;
  text-align: center; }
