body {
  font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  color: #333;
  margin: 0;
  padding: 0; }

section {
  position: relative; }

p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  z-index: 3;
  color: #818181; }

img.sect-3 {
  width: 100%; }

a {
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

nav.navbar {
  position: absolute;
  z-index: 2;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

nav.navbar-fixed-top {
  z-index: 5;
  top: 0;
  padding: 25px 0;
  opacity: 0;
  background: white;
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05); }

a.navbar-brand img {
  position: absolute;
  width: 200px; }

span.icon-bar {
  background-color: #000000; }

ul.nav li a:hover, ul.nav li a:after {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-color: #0000fe;
  text-decoration-color: #0000fe;
  content: ""; }

header {
  position: relative;
  color: white;
  background: url("../img/header.jpg");
  background-size: cover;
  z-index: -1; }

h1 {
  margin-top: 40%;
  text-transform: uppercase;
  font-size: 40px;
  color: #ffce44;
  font-weight: 300; }

h1 + p {
  color: #ffce44;
  font-style: italic; }

header .table {
  display: table;
  height: 100%; }

header .container {
  height: 700px; }

header .header-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white; }

.icon-bar {
  background: #bbb; }

.lead-cubes {
  top: -130px;
  position: relative; }

.lead-cubes .lead-table {
  position: relative;
  width: 100%;
  margin: 20px 0; }

.lead-cubes .lead-table .heading {
  margin: 0; }

.lead-table {
  background-size: cover;
  background-repeat: repeat; }

div#about {
  background-color: #F6F6F6; }

.shade {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0; }

.shade-pict {
  background-color: rgba(255, 206, 68, 0.8);
  -webkit-transition: background-color 0.8s linear 0.1s;
  transition: background-color 0.8s linear 0.1s;
    transition-animation-name: rising;
  z-index: 0; }

.shade-pict:hover {
  background-color: transparent; }

#description {
  margin: 0;
  padding: 0; }

div.about-me {
  padding: 100px 0; }

p.main-sign {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold; }

.about-us {
  margin: 0;
  padding: 0; }

div.rectangular-info {
  padding-bottom: 50px; }

.portfolio {
  margin: 50px auto; }

.allpictures div img {
  margin: 10px; }

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none; }

.btn-primary {
  background: #D79E56;
  color: #ffffff; }

.btn-primary:active, .btn-primary.active {
  background: #FFCE44;
  -webkit-box-shadow: none;
  box-shadow: none; }

.sharp {
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-left: 10px; }

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e; }

.carousel-indicators li {
  border-color: #f4511e; }

.responds {
  margin: 180px auto; }

.carousel-indicators li.active {
  background-color: #f4511e; }

.item p {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic; }

footer {
  padding: 20px 0;
  background: red;
  background: -webkit-gradient(linear, left top, right top, from(#2f2515), color-stop(rgba(47, 37, 21, 0.8)), to(#2f2515));
  background: -webkit-linear-gradient(left, #2f2515, rgba(47, 37, 21, 0.8), #2f2515);
  background: linear-gradient(to right, #2f2515, rgba(47, 37, 21, 0.8), #2f2515); }

footer p {
  color: white;
  font-size: 13px; }

#web4evo {
  margin: 40px 0 0 0; }

.rectangular-info {
  background-image: url("../img/01.jpg");
  background-repeat: no-repeat;
  max-width: 500px;
  height: 380px;
  position: relative;
  overflow: hidden;
  margin: 50px 0; }

.rectangular-info p:nth-child(1) {
  font-weight: 300; }

.rectangular-info p:nth-child(2) {
  font-size: 16px;
  line-height: 1.6; }

.rectangular-info div a {
  color: #ffce44; }

.rectangular-info div a:nth-child(1) {
  font-weight: 600;
  text-decoration: none;
  margin-right: 10px; }

.rectangular-info div a:nth-child(2) {
  text-decoration: none; }

.rectangular-info div a:nth-child(3) {
  float: right;
  margin-right: 15px;
  text-decoration: none; }

.rectangular-info div a:nth-child(3):hover {
  color: #FFDD00; }

.move-left {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 250px;
  right: -800px;
  width: 90%;
  margin: 10px;
  padding: 10px;
  -webkit-transition: 1s ease;
  transition: 1s ease; }

.rect-short:hover > .rectangular-info .move-left {
  right: 0; }
